# Logi
logs/
*.log

# Katalogi i pliki środowiskowe
.venv/

# Systemowe / edytora
.DS_Store
Thumbs.db
.vscode/

# Pliki outputu
data/
outputs*/

# Pliki cache
__pycache__/

# dane treningowe
real-and-fake-detection/
test-set/
test-this/

# kaggle credentials
kaggle.json

# inne
*.pyc
.ipynb_checkpoints/
data/
runs/